<div class="vayau-routing vayau-roster" ng-controller="rosterCtrl"  ng-init="init()">

  <div class="loader-wrapper" ng-if="isLoader">
    <div class="ng-loader" ></div>
  </div>
  
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-8">
        <toaster-container ng-if="toggleView"></toaster-container>
        <form class="form-inline">
          <div class="form-group pr-2">
            <select ng-model="selectedSite" ng-options="site.name for site in siteList track by site.id"
              ng-change="updateFilters()" class="form-control" placeholder="Select Site">
              <!-- <option value="" >Site</option> -->
            </select>
          </div>
          <div class="form-group pr-2">
            <p class="input-group custom-date date_style">
              <input type="text" class="form-control data_in_style" datepicker-popup="{{format}}" ng-model="filterDate" ng-change="updateDateFilters('to', filterDate)"
                is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                 ng-required="true" close-text="Close" />
              <span class="input-group-btn-datePicket">
                <button type="button" class="btn btn-default data_in_style" ng-click="open($event)">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="form-group pr-2" style="display: none;">
            <select class="form-control" ng-model="directionData" ng-change="updateDirectionData(directionData)">
              <option value="0">Check In</option>
              <option value="1">Check Out</option>
            </select>
          </div>
          <!-- <div class="form-group pr-2">
                                <option>Shift 1</option>
                                <option>Shift 2</option>
                                <option>Shift 3</option>
                                <option>Shift 4</option>
                            </select>
                        </div> -->
          <!-- <div class="form-group pr-2">
                            <select class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div> -->

          <!-- <button type="button" class="btn btn-terniary fa-search-custom" ng-click="updateFilters()">
            <i class="fa fa-search fa-search-custom" aria-hidden="true" ng-click="updateFilters()"></i>
          </button> -->
          <button type="button" ng-click="updateFilters()" class="btn btn-terniary-blue">OK</button>
        </form>
      </div>


      <div class="col-md-4">
        <div class="btn-toolbar float-right" role="toolbar">
          <div class="">
            <!-- <button ng-click="addCustomeRoute()" type="button" class="btn btn-terniary fa-search-custom"
              style="float: right; background-color: #384266;">ADD CUSTOM ROUTE</button> -->
              <button ng-click="showUploadWindow()" type="button" class="btn btn-terniary fa-search-custom"
              style="float: right; background-color: #384266;margin-right:10px;">UPLOAD SCHEDULE</button>
          </div>
        </div>

      </div>

      <!-- <div class="col-md-4">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-terniary-blue">Finalize</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-terniary">Export CSV</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" ng-click="showFilterSidebar()" class="btn btn-terniary-blue">Filter</button>
                        </div>
                    </div>
                </div> -->

    </div>
    <div class="row analytic-panel">
      <div class="col-md-1 pad-8">

      </div>
      <div class="col-md-2 pad-8">
        <div class="card-analytic routes">
          <div class="card-inner-wrapper">
            <div class="text">TOTAL SHIFT</div>
            <div class="number">{{stats.shift_count}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 pad-8">
        <div class="card-analytic kilometers">
          <div class="card-inner-wrapper">
            <div class="text">TOTAL EMPLOYEE</div>
            <div class="number">{{stats.tot_emp}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 pad-8">
        <div class="card-analytic male">
          <div class="card-inner-wrapper">
            <div class="text">LEFT FOR ALLOCATION</div>
            <div class="number">{{stats.left_for_allocation}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 pad-8">
        <div class="card-analytic female">
          <div class="card-inner-wrapper">
            <div class="text">ON DUTY VEHICLE</div>
            <div class="number">{{stats.on_duty}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 pad-8">
        <div class="card-analytic special">
          <div class="card-inner-wrapper">
            <div class="text">OFF DUTY VEHICLE</div>
            <div class="number">{{stats.off_duty}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-1 pad-8">

      </div>
    </div>


    <section>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped table-condensed c">
            <thead>
              <tr>
                <th>Shift</th>
                <th>Shift Time</th>
                <th>Shift Type</th>
                <th>No. of Employee</th>
                <th>Vehicle Required</th>
                <th>Available Vehicle</th>
                <th>Result</th>
                <th style="width:250px;">Action</th>
              </tr>
            </thead>

            <tbody ng-show="rosters.length">
              <tr  ng-repeat="roster in rosters">
                <th scope="row">
                  <a href="" ng-click="showPopupWindow(roster)">{{roster.name}}</a>
                </th>
                <td>{{roster.start_time}}</td>
                <td>{{roster.shift_type}}</td>
                <td>
                  <a href="" ng-click="showPopupWindow(roster)">{{roster.no_of_emp}}</a>
                </td>
                <td>
                  <span ng-repeat="(key, value) in roster.vehicle" roster> {{key}}:{{ value }} | </span>

                  <span ng-if="roster.total_vehicles"><strong>{{roster.total_vehicles}} VEHICLE</strong> </span>


                </td>
                <td class="text-color-blue">{{roster.total_vehicles}}</td>
                <td class="text-color-blue " style="color: #14a89e !important;"><b>{{roster.result}}</b></td>
                <td>
                  <div class="">
                   
                    <button ng-if="!roster.routesGenerated && !roster.disableGenerate && (roster.generateButtonLabel=='generate' || roster.generateButtonLabel =='regenerate')"
                      ng-click="addVehicleToRoster(roster)" type="button"
                      class="btn btn-sm-vaayu btn-terniary btn-sm pull-left route-button" style="width:48%;">Add Vehicle</button>

                    <button ng-if="!roster.routesGenerated && roster.disableGenerate || roster.routesGenerated" type="button"
                      class="btn btn-sm-vaayu btn-terniary-disable btn-sm pull-left route-button" style="width:48%;">Add Vehicle</button>

                    <button ng-if="roster.routesGenerated" type="button" class="btn btn-sm-vaayu btn-terniary-disable btn-sm" style="width:48%; float: right;">
                      Routes Finalized
                    </button>
                    <button ng-if="!roster.routesGenerated && roster.disableGenerate" type="button" class="btn btn-sm-vaayu btn-terniary-disable btn-sm route-button" style="width:48%;">
                      Generate
                    </button>
                    <button
                      ng-if="!roster.routesGenerated && !roster.disableGenerate && roster.generateButtonLabel=='generate'"
                      ng-click="showGeneratePopup(roster)" type="button"
                      class="btn btn-sm-vaayu btn-terniary-blue btn-sm" style="width:48%;">
                      Generate
                    </button>

                     <button
                      ng-if="!roster.routesGenerated && !roster.disableGenerate && roster.generateButtonLabel =='regenerate'"
                      ng-click="showGeneratePopup(roster)" type="button"
                      class="btn btn-sm-vaayu btn-sm pull-right" style="color:#fff;background:#65b9da; width: 48%;">
                      Re-Generate
                    </button>

                  </div>
                </td>
              </tr>
            </tbody>

            <tbody ng-show="!rosters.length">
              <tr>
                <td colspan="8"> No Data Available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </div>



  <div class="row vayau-sidebar filter-sidebar" ng-if="isAddMenuOpen">
    <div class="col-md-12">
      <div class="vaayu-sidebar-panel">
        <div class="vaayu-sidebar-heading">
          <div class="row">
            <div class="col-md-8">
              <h4 class="float-left"><span class="vaayu-sidebar-title">Adding vehicle </span></h4>
            </div>
            <div class="col-md-4">
              <button type="button" ng-click="hideAddMenu()" class="btn btn-close float-right">&#x2715;</button>
            </div>
          </div>
        </div>
        <div class="vaayu-sidebar-body">
          <form class="" ng-submit="submitAddVehicle()">
            <!-- <div class="row form-group pr-2">
                                        <div class="col-md-6 col-lg-6 form-group pr-2">
                                            <select aria-placeholder="Shift TIme" ng-model="shift" class="form-control" placeholder="Select Shift">
                                                <option ng-repeat="shift in shifts">{{shift.name}}</option>
                                            </select>
                                        </div>
                                       
                                        <div class="col-md-6 col-lg-6 form-group pr-2">
                                                <select aria-placeholder="On Duty" ng-model="shift" class="form-control" placeholder="Select Shift">
                                                    <option ng-repeat="shift in shifts">{{shift.name}}</option>
                                                </select>
                                        </div>
                                    </div> -->
            <div class="add-vehicle-card-container">
              <div class="row add-vehicle-card card_flex" ng-repeat="(key, value) in currentRoster.vehicle">

                <div class="col-md-5">
                  <img ng-if="key== 'SUV'" src="../assets/angular_images/ic_suv.png"
                    style="padding: 15px; height: 75px;">
                  <img ng-if="key== 'TT'" src="../assets/angular_images/ic_tt.png" style="padding: 15px; height: 75px;">
                  <img ng-if="key== 'SEDAN'" src="../assets/angular_images/ic_sedan.png"
                    style="padding: 15px; height: 75px;">
                  <img ng-if="key== 'HATCHBACK'" src="../assets/angular_images/ic_hatchback.png" style="height: 42px;">
                  <img ng-if="key== 'MINI VAN'" src="../assets/angular_images/ic_minivan.png"
                    style="padding: 15px; height: 75px;">
                  <span class="text-center text-key-name"
                    ng-if="!(key== 'SEDAN' || key== 'TT' || key== 'SUV' || key== 'HATCHBACK' || key== 'MINI VAN')"
                    style="display: block; margin-left: 35px; text-align: left !important;">{{key}}</span>
                </div>
                <div class="col-md-2" ng-click="minusVehicle(key)"><i
                    class="pointer fa fa-minus-circle add-vehicle-plus-minus-button" aria-hidden="true"></i></div>

                <div class="col-md-2">
                  <h5 style="margin-top: 15px">{{value}}</h5>
                </div>
                <div class="col-md-2" ng-click="plusVehicle(key)"><i
                    class="pointer fa fa-plus-circle add-vehicle-plus-minus-button" aria-hidden="true"></i>
                </div>
              </div>
              <!-- <div class="text-danger "  ng-if="!currentRoster.vehicle || !currentRoster.vehicle.length">
                                        <div class="col-md-12 text-center">
                                        <span class="text-center">No Vehicle Available</span>
                                        </div>
                                    </div> -->
            </div>

            <div class="row add-vehicle-card-border" style="margin-top: 2em">
              <div class="col-md-8">
                <h5 class="text-center" style="margin: auto">Employee Count
              </div>
              <h5 class="text-center" style="margin: auto"><span>{{currentRoster.no_of_emp}} </span></h5>
            </div>
            <div class="row add-vehicle-card-border" style="margin-top: 2em">
              <div class="col-md-8">
                <h5 class="text-center" style="    margin: auto">Seating Capacity </h5>
              </div>
              <div class="col-md-4">
                <h5 class="text-center" style="    margin: auto"><span>{{currentRoster.total_seats}} </span></h5>
              </div>
            </div>

            <div class="row" style="margin:10px">
              <div class="col-md-6 pr-2">
                <button type="button" style="width:100%" ng-click="hideAddMenu()"
                  class="btn btn-cancel ">Cancel</button>
              </div>
              <div class="col-md-6 pr-2"><button ng-disabled="isDoneDisabled" style="width:100%" type="submit"
                  class="btn btn-primary add-vehicle-btn-done">DONE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row vayau-sidebar filter-sidebar" ng-if="isAddMenuOpen2">
    <div class="col-md-12">
      <div class="vaayu-sidebar-panel">
        <div class="vaayu-sidebar-heading">
          <div class="row">
            <div class="col-md-8">
              <h4 class="float-left"><span class="vaayu-sidebar-title">Create Route </span></h4>
            </div>
            <div class="col-md-4">
              <button type="button" ng-click="hideAddMenu2()" class="btn btn-close float-right">&#x2715;</button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="row">
            <div class="col-md-6">
              <!-- <div class="form-group"> -->
                <!-- <input class="form-control" type="number" id="appt" min="0" max="23"  ng-model="to_time" name='to_time' placeholder="Time" required>
                                                          <span ng-show="hasError('to_time', 'required')" class="help-block">To Time is
                                                              required.</span>
                                                              -->
              <!-- </div> -->
              <input type="time" id="to_time" name="to_time" class="form-control" ng-model="to_time" placeholder="Time"
                required style="height: 42px;"/>
              <span ng-show="hasError('to_time', 'required')" class="help-block">To Time is
                required.</span>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select name="selectedShift" class="form-control" ng-model="selectedShift" required>
                  <option value="">Select Shift</option>
                  <option value="0">Check In</option>
                  <option value="1">Check Out</option>
                </select>
                <span ng-show="selectedShift.$error.required" class="help-block">Shift is
                  required.</span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-dropdown-multiselect="" class="form-control ml_selec" options="EmpList"
              selected-model="SelectedEmp " checkboxes="true" extra-settings="example14settings" validation="required"
              search-placeholder="   Search Employee's    " validation-result="SelectedEmp" style="border-color: #fff; padding: 0;">
            </div>
          </div>
          <span ng-show="SelectedEmp .$error.required" class="help-block">Employee is
            required.</span>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="vaayu-sidebar-body form-group" set-height style="overflow-y: auto">
              <ul class="emplyoee-list-group" dnd-list="SelectedEmp " dnd-effect-allowed="copy"
                dnd-allowed-types="list.allowedTypes" dnd-disable-if="SelectedEmp .length >= SelectedEmp .max"
                dnd-dragover="dragoverCallback(SelectedEmp ,index, external, type)"
                dnd-drop="dropCallback(SelectedEmp ,index, item, external, type)">
                <li ng-repeat="emp in SelectedEmp " no-drop dnd-draggable="emp" dnd-effect-allowed="move"
                  class="background-{{emp.type}} input-group employee-list-group-item">
                  <span class="input-group-addon addon-prepend">
                    <div class="inner-addon">
                      <i class="fa fa-shield" aria-hidden="true"></i>
                    </div>
                  </span>

                  <div class="inner-text">
                    <div class="text-small">Selected Employee</div>
                    <div class="text-big"> {{emp.label}}</div>
                  </div>

                  <div class="input-group-addon addon-append">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </div>
                </li>

              </ul>

            </div>
          </div>
        </div>



        <div class="row" style="margin:70px">
          <div class="col-md-6">
            <button type="button" style="width:100%" class="btn btn-cancel " ng-click="hideAddMenu2()">Cancel</button>
          </div>
          <div class="col-md-6">
            <button style="width:100%" type="button" ng-click="submitAddCustomRoute(selectedShift,to_time)"
              class="btn btn-primary add-vehicle-btn-done">Submit
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>

 
  


  <div id="myModal" class="vaayu-modal" style="display: block;z-index: 4;" ng-show="showPopup">

    <!-- Modal content -->
    <div class="vaayu-modal-content" style="width: 80%;">
      <div class="vaayu-modal-header">

        <span>{{selectedRoster.name}}</span>
        <span class="vaayu-pop-close closepop" ng-click="showPopup=false">&times;</span>
      </div>
      <div class="vaayu-modal-body">
        <div class="row container-fluid">
          <div class="col-md-12">
            <!-- table table-bordered table-striped table-condensed -->
            <div class="filter-block" style="margin-bottom: 10px;">
              <input class="form-control" ng-model="employee_name_search" placeholder="Search Employee Name"
                style="width:350px; display: inline;" type="text" ng-change="onEmployeeSearch()">
              <a class="btn btn-sm" href="#" id="change-request-search"
                style="margin-left:10px; border:1px solid #E0E4E8; height:30px"><i aria-hidden="true"
                  class="fa fa-search"></i></a>
            </div>
            <table class="table table-scroll table-bordered table-striped table-condensed">
              <thead class="pop-table-head">
                <tr>
                  <th>Employee Name</th>
                  <th>Gender</th>
                  <th>Home Address</th>
                  <th>Lat</th>
                  <th>Long</th>
                </tr>
              </thead>
              <tbody class="pop-table-body">
                <tr class="active" ng-repeat="item in roster_employees track by $index">
                  <td><span style="color:#49A49C;">{{item.empName}}</span></td>
                  <td>{{item.gender}}</td>
                  <td>{{item.home_address}}</td>
                  <td>{{item.lat}}</td>
                  <td>{{item.lng}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="vaayu-modal-footer">
          <button type="button" class="vaayu-pop-action-btn" ng-click="showPopup=false"> Close</button>
        </div>
      </div>
    </div>

  </div>
  <div id="myModal" class="vaayu-modal" style="display: block;z-index: 4;" ng-show="showGenerateDialog">
    <div class="vaayu-modal-content generate-modal" style="max-width:750px; padding-top: 0;">
      <div class="vaayu-modal-header" style="background: #fff; position: relative; display: block;">
        <span>Generate Routes</span>
        <span class="vaayu-pop-close closepop" ng-click="closeAll()">&times;</span>
      </div>
      <div class="vaayu-modal-body">
        <div class="row container-fluid">
          <div class="col-md-12" style="text-align: center;">
            <div class="btn-group">
              <div class="input-group">
                <button class="btn btn-sm-vaayu btn-terniary btn-sm pull-left route-button"  ng-click="showDiv = !showDiv">Copy/Generate Route</button>
                <button class="btn btn-sm-vaayu btn-terniary btn-sm pull-left route-button" style="margin-left: 10px;" ng-click="onFreshRoutes()">Fresh Route</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row container-fluid date-box " ng-class="{'vis' : showDiv }" style="display: none;" >  
          <div class="col-md-12" style="margin-bottom: 15px;">To Copy Date</div>
          <div class="col-md-12">
            <form class="form-inline">
              <div class="form-group pr-2">
                  <div class="form-group pr-2">
                    <p class="input-group custom-date date_style">
                      <input type="text" class="form-control data_in_style" datepicker-popup="{{toCopyDateFormat}}" ng-model="toCopyDate" ng-change="updateDateFilters('copy', toCopyDate)" is-open="toCopyDateOpened " datepicker-options="copyDateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                      >
                      <span class="input-group-btn-datePicket">
                        <button type="button" class="btn btn-default data_in_style" ng-click="toCopyDateOpen($event)">
                            <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </p>
                  </div>
                  <button class="btn btn-terniary-blue" ng-click="onSubmit()">OK</button>

                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="vaayu-modal" style="display: block;z-index: 4;" ng-show="showUploadDialog">

    <!-- Modal content -->
    <div class="vaayu-modal-content" style="width:450px;">
      <div class="vaayu-modal-header">
        <span> File Upload</span>
        <span class="vaayu-pop-close closepop" ng-click="showUploadDialog=false">&times;</span>
      </div>
      <div class="vaayu-modal-body">
        <div class="row container-fluid">
          <div class="col-md-12">
            <div class="btn-group">
              <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Choose File&hellip; <input type="file" style="display: none;"
                            accept=".xls, .xlsx" id="file" name='file'
                            onchange="angular.element(this).scope().fileNameChanged(this)">
                    </span>
                </label>
                <input type="text" ng-model="tempfileName" ng-value="tempfileName"
                    class="form-control" readonly>
              </div>
             
            </div>
          </div>
        </div>
        <div class="vaayu-modal-footer">
          <button class="vaayu-pop-action-btn" ng-click="CheckIsDownloadeble()">
                download sample
          </button>
          <button class="vaayu-pop-action-btn" type="button" ng-click="uploadExcelData()" ng-disabled="disableBtn">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
