<div  ng-controller='tripboardCtrl'>

<div class="vayau-routing vayau-roster">

  <div class="container-fluid mt-4" ng-init="init()">
    <div class="row">
      <div class="col-md-8">
        <form class="form-inline">
          <div class="form-group pr-2">
            <select ng-change="getAllTrips()" ng-model="selectedSiteID" class="form-control" placeholder="Select Shift"
              ng-options="site.id as site.name for site in siteList"></select>
          </div>
          <div class="form-group pr-2">
            <select id="disabledSelect" class="form-control ng-hide">
              <option>Check In</option>
              <option>Check Out</option>
            </select>
          </div>
          <div class="form-group pr-2">
            <select id="disabledSelect" class="form-control ng-hide">
              <option>Shift 1</option>
              <option>Shift 2</option>
              <option>Shift 3</option>
              <option>Shift 4</option>
            </select>
          </div>
          <!-- <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div> -->
          <toaster-container></toaster-container>
          <div class="form-group pr-2" ng-init="showDropdown=false">
            <div class="form-group pr-2">
              <p class="input-group custom-date date_style ">
                <input type="text"  
                  style="z-index: inherit;"
                  class="form-control data_in_style" ng-change="getAllTrips()"
                  datepicker-popup="{{format}}" ng-model="filterDate" is-open="opened" datepicker-options="dateOptions"
                  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn-datePicket">
                  <button type="button" class="btn btn-default data_in_style" ng-click="open($event)"><i
                      class="fa fa-calendar"></i></button>
                </span>
                 <!-- <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-">Action</button>
                    <button type="button" class="btn btn-danger" ng-click="showDropdown=!showDropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button"
                      ng-if="showDropdown"
                    >
                    <li role="menuitem"><a href="#">Action</a></li>
                     
                      <li class="divider"></li>
                      <li role="menuitem" >
                        <div style="display: flex; justify-content:center">
                          <button class="btn btn-default"
                            ng-click="showDropdown=!showDropdown"
                          >Cancel</button>
                          <button class="btn btn-primary" style="margin-left: 5px;"
                            ng-click="showDropdown=!showDropdown"
                          >Allocate</button>
                        </div>
                    </li>
                    </ul>
                  </div> -->
              </p>
            </div>
          </div>

          <button type="submit" class="btn btn-terniary-disable ng-hide">Genrate</button>
        </form>
      </div>

      <div class="col-md-4">
        <div class="btn-toolbar float-right" role="toolbar">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-terniary">Export CSV</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" ng-click="showFilterSidebar()" class="btn btn-terniary-blue">Filter</button>
          </div>
        </div>
      </div>
    </div>

    <div class="analytic-panel">
      <div class="">
      <div class="stat-item pad-8" ng-click="FilterStat('')">
        <div class="card-analytic kilometers">
          <div class="card-inner-wrapper">
            <div class=" text">ALl Trips</div>
            <div class=" number">{{stats.all_trips}}</div>
          </div>
        </div>
      </div>
      <div class="stat-item pad-8" ng-click="FilterStat('ON GOING')">
        <div class="card-analytic on-duty-vehical">
          <div class="card-inner-wrapper">
            <div class="text">ON GOING</div>
            <div class="number">{{stats.ongoing_trips}}</div>
          </div>
        </div>
      </div>
      <div class="stat-item pad-8" ng-click="FilterStat('Delayed')">
        <div class="card-analytic special">
          <div class="card-inner-wrapper">
            <div class="text">DELAYED</div>
            <div class="number">{{stats.delayed_trips}}</div>
          </div>
        </div>
      </div>
      <div class="stat-item pad-8" ng-click="FilterStat('Accepted')">
        <div class="card-analytic male">
          <div class="card-inner-wrapper">
            <div class="text">ACCEPTED</div>
            <div class=" number">{{stats.accepted_trips}}</div>
          </div>
        </div>
      </div>
      <div class="stat-item pad-8" ng-click="FilterStat('Pending Acceptance')">
        <div class="card-analytic routes">
          <div class="card-inner-wrapper">
            <div class="text">PENDING ACCEPTANCE</div>
            <div class="number">{{stats.pending_acceptance_trips}}</div>
          </div>
        </div>
      </div>
      <div class="stat-item pad-8" ng-click="FilterStat('Cancelled')">
        <div class="card-analytic label-warning">
          <div class="card-inner-wrapper">
            <div class=" text">CANCELLED</div>
            <div class="number">{{stats.cancelled}}</div>
          </div>
        </div>
      </div>
      <div class="stat-item pad-8" ng-click="FilterStat('SOS')">
          <div class="card-analytic female">
            <div class="card-inner-wrapper">
              <div class=" text">SOS</div>
              <div class="number">{{stats.sos_count}}</div>
            </div>
          </div>
        </div>
    </div>
  </div>
    <section>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered  table-condensed">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Shift</th>
                <th>Shift Time</th>
                <th>Vehicle Type</th>
                <th>Vehicle RC no</th>
                <th>Driver Name</th>
                <th>Current Status</th>
                <th>Action</th>
              </tr>
            </thead>


            <tbody>
              
              <tr ng-class="getRowColor($index, roster)" ng-repeat="roster in rosters  | filter :{current_status:search} track by $index">
                <td> {{$index+1}}</td>
                <td>
                   <a href="">{{roster.trip_type == 'Check In' ? 'Pick Up' : 'Drop Off'}}</a>
                </td>
                <td>{{roster.shift_time}}</td>
                <td>{{roster.vehicle_type}}</td>
                <td>{{roster.vehicle_number}}</td>
                <td>{{roster.driver_name}}</td>

                <td>{{roster.current_status}}</td>
                <td>
                  <div class="">
                    <button type="button" id="myBtn" ng-click="showModal(roster)"
                      class="btn btn-sm-vaayu btn-terniary-blue btn-block">View</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>


<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="vaayu-modal" style="display: block;" ng-if="showPopup">

  <!-- Modal content -->
  <div class="vaayu-modal-content">
    <div class="vaayu-modal-header">

      <span>All Routes</span>
      <!-- <span style="float: right;">
          <div ng-dropdown-multiselect=""  options="vehicleList" style="display: inline-block;"
          selected-model="SelectedEmp " checkboxes="true" extra-settings="example14settings"
          validation="required" search-placeholder="   Change Allocation    " validation-result="selectedVehicle">
          </div>  
      </span> -->
      <span class="vaayu-pop-close closepop" ng-click="closePopup()">&times;</span>
    </div>
    <div class="vaayu-modal-body">
      <div class="row">
        <div class="col-md-5">
          <div class="pop-img-card">
            <table class="table table-scroll table-bordered  table-condensed">
              <thead class="pop-table-head">
                <tr>
                  <th>Employee</th>
                  <th>ETA</th>
                  <th>Call</th>
                  <th>Emergency</th>
                </tr>
              </thead>
              <tbody class="pop-table-body">
                <tr class="" ng-repeat="item in modelData.employees_nodes_addresses track by $index" ng-class="{'panic':item.is_panic}">
                  <td>{{item.empName}}</td>
                  <td>{{item.eta}}</td>
                  <td><button ng-click="panicCallSesion(item.empId,'Employee')"  class="btn btn-sm vaayu-pop-action-btn"><i class="fa fa-phone callIcon"></i></button></td>
                  <td>
                    <div class="input-group" ng-if="item.is_panic">
                        <form class="form-inline">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control" ng-model="item.comment"  placeholder="Comment">
                                <div ng-click="updateCallStatus(item)"  ng-class="{'panic':modelData.is_panic}" class="input-group-addon btn vaayu-pop-action-btn">Done</div>
                              </div>
                            </div>
                        </form>
                    </div>

                    <div class="input-group" ng-if="!item.is_panic">
                        <form class="form-inline">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control" disabled placeholder="Comment">
                                <div  class="input-group-addon btn vaayu-pop-action-btn">Done</div>
                              </div>
                            </div>
                        </form>                
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          
            <div class="container" style="width:100%;">
              <div>
                <span class="pop-name">Shift</span>
                <span class="pop-status">{{modelData.shift_time}}</span>
              </div>
              <div>
                <span class="pop-name">Arrival Time</span>
                <span class="pop-status">{{modelData.trip_end_time}}</span>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="pop-img-card">
            <div id="googleMap" style="width:100%;height:200px;"></div>
            <div class="container" style="width:100%;">
              <div>
                <span class="pop-name">Duration</span>
                <span class="pop-status">{{modelData.total_trip_time_minutes}} Mins</span>
              </div>
              <div>
                <span class="pop-name">Distance</span>
                <span class="pop-status">{{modelData.total_trip_distance}} Kms</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pop-img-card">
              <!-- modelData.driver_profile_picture_url -->
            <img src="{{getDriverProfileUrl(modelData.driver_profile_picture_url)}}" alt="Avatar" style="width:100%" >
            <!-- <img src="../assets/angular_images/img_avatar.png" alt="Avatar" style="width:100%" ng-if="modelData.driver_profile_picture_url === 'NA'"> -->
            <!-- <img src="../assets/angular_images/img_avatar.png" alt="Avatar" style="width:100%"> -->
            <!-- driver_profile_picture_url -->
            <div style="width:100%;">
              <div class="panic-call">
                <span class="pop-name">{{modelData.driver_name}}</span>
                <span class="pop-status">{{modelData.vehicle_type}}</span>
                <span class="pop-carNumber"> {{modelData.vehicle_number}}</span>
              </div>

              <div class="input-group label-default pad-2" style="width:100%;" ng-class="{'panic':modelData.trip_driver_is_panic}">
                  <form class="form-inline">
                      <div class="form-group" ng-if="modelData.trip_driver_is_panic">
                        <div class="input-group" >
                          <input type="text" class="form-control" ng-model="modelData.comment" placeholder="Comment">
                          <div ng-click="updateCallStatus(modelData)" class="input-group-addon btn vaayu-pop-action-btn">Done</div>
                        </div>
                        <button type="button" ng-click="panicCallSesion(modelData.driver_id,'Driver')" class="btn vaayu-pop-action-btn"><i class="fa fa-phone callIcon"></i></button>
                      </div>
                      <div class="form-group" ng-if="!modelData.is_panic">
                          <div class="input-group" >
                            <input type="text" class="form-control" disabled placeholder="Comment">
                            <div ng-class="{'panic':modelData.trip_driver_is_panic}" class="input-group-addon btn vaayu-pop-action-btn">Done</div>
                          </div>
                          <button type="button" ng-class="{'panic':modelData.trip_driver_is_panic}" class="btn vaayu-pop-action-btn"><i class="fa fa-phone callIcon"></i></button>
                        </div>
                  </form>                
              </div>
            </div>
          </div>
        </div>`
      </div>


      <!-- <div class="row">
          <div class="pop-img-card">
              <table class="table table-scroll table-bordered  table-condensed">
                <thead class="pop-table-head">
                  <tr>
                    <th>Employee</th>
                    <th>ETA</th>
                    <th>Call</th>
                    <th>Emergency</th>
                  </tr>
                </thead>
                <tbody class="pop-table-body">

                </tbody>
                </table>
            </div>
      </div> -->

    </div>
    <div class="vaayu-modal-footer">
      <!-- <button type="button" class="vaayu-pop-action-btn"> Change Allocation</button> -->
      <div ng-dropdown-multiselect="" 
        ng-if="isDisable1(modelData)"
        options="vehicleList" style="display: inline-block;"
        selected-model="selectedVehicle " checkboxes="true" extra-settings="example14settings"
        validation="required" search-placeholder="   Change Allocation    " validation-result="selectedVehicle">
      </div>  
      <button type="button" class="vaayu-pop-action-btn" ng-click="changeAllocation(modelData)"
        ng-if="isDisable()"
        > Submit</button>
      <!-- <button type="button" class="vaayu-pop-action-btn" ng-if='selectedVehicle!=null'> Change Allocation</button> -->
      <!-- Split button -->
      <!-- <div class="btn-group" uib-dropdown>
        <button id="split-button" type="button" class="btn btn-">Action</button>
        <button type="button" class="btn btn-danger" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a href="#">Action</a></li>
          <li role="menuitem"><a href="#">Another action</a></li>
          <li role="menuitem"><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#">Separated link</a></li>
        </ul>
      </div> -->
      

    </div>
  </div>
</div>

</div>