#employees.tab-pane.fade
  .col-md-12.table-content-edit
  .col-md-12.table-responsive.table-responsive-datatables.table-wrap
    a.reload-button  Reload
    table#employees-table.table.table-hover.table-no-modal.table-bordered[style="width: 100%;"]
      .search-section
        input#employees-table-search-input.form-control.string name="user[search_text]" type="text" /
        select#employees-table-field-name.form-control.select name="field_name"
          option value="name"  Name
          option value="email"  Email
          option value="phone"  Phone
          option value="gender"  Gender
          option value="home_address"  Address
          option value="zone"  Zone
          option value="line_manager"  Line Manager
          option value="employee_id"  Employee ID
        a#employees-table_search.btn.btn-sm href="#"
          i.fa.fa-search aria-hidden="true"
      thead
        tr
          th
            | ID#
          th
            | Name
          th
            | Shifts
          th
            | Contact Number
          th
            | Sex
          th
            | Address
          th
            | Status
          th
            | Action
      tbody

script type="text/javascript"
  | var shiftsCollection = #{Shift.all.to_json.html_safe}
javascript:
  function get_current_date()
  {
  var date = new Date();
  var newDate = date.toString('dd-MM-yy');
  var myDate = new Date(newDate);
  var local_date=myDate.toLocaleString();
  var local_date_string=local_date.toString();
  var split_arr=local_date_string.split(",");
  var final_local_date;
  if(typeof(split_arr[0]) != "undefined" && split_arr[0] !== null)
   {
   final_local_date=split_arr[0];
   }
  return final_local_date;
  }
 
  function change_date_format(p1) {
   var string_date=p1.toLocaleString();
  var d = new Date();
  var current_year = d.getFullYear();
  var complete_string_date=string_date+'/'+current_year;
  var first_date = moment(complete_string_date).format('DD/MM/YYYY');
  return first_date;
  }
 
  function get_header_id()
  {
  var th_id=0 ;
  var current_date= get_current_date();
  var i=0;
  var custom_date;
  var temp_date;
  $(".employee-schedule-table tbody tr th").each(function() {
   
   custom_date = $(this).text();
   temp_date = change_date_format(custom_date);
   if(current_date.toString()==temp_date.toString())
   {
   th_id=i; 
   }
   i++;
   });
  return th_id; 
  }
 
  function getCurrentTime() {
   var today = new Date();
   var h = today.getHours();
   var m = today.getMinutes();
   currTimeNew = h+":"+m;
   momTimeCurr=moment(currTimeNew, 'HH:mm');
   var currTimeFinal;
   if(typeof(momTimeCurr._i) != "undefined" && momTimeCurr._i !== null)
   {
   currTimeFinal=momTimeCurr._i;
   } 
   return currTimeFinal;
  }
 
  function disable_lapsed_shifts()
  {
  var shift_times; 
  var curr_time=getCurrentTime();
  var finalshiftTime;
  var head_id=get_header_id();
  $("#employee_check_in_attributes_"+head_id+"__shift_id option").each(function( index,element ) {
   
   shift_times = $(element).text();
   //console.log("AJAY --<<<<<<<>>>>>>>>>>>>", head_id );
   if(shift_times != 'Clear'){ 
   
   var momTime=moment(shift_times, 'HH:mm');
   
   finalshiftTime=momTime._i;
   
   var d1 = new Date();
   var curDay =moment(d1).format('YYYY/MM/DD');
   let currentTimeDate        = curDay +" "+curr_time;
   let currentFinalshiftTime  = currentSheduleDate +" "+finalshiftTime;
   
   console.log(currentTimeDate,"<<<<<<<<<<????<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>", currentFinalshiftTime );

    if( new Date(currentFinalshiftTime) < new Date( currentTimeDate ) )
     {
      //console.log("Ajay new   ",index );

      let elementId = "employee_check_in_attributes_"+head_id+"__shift_id";

        //$(this).prop('disabled', true);
        //$(this).attr("disabled", "disabled");
        //let optionObject =  $(this);
        //$(this).element.disabled = true;

        //document.getElementById(elementId).options[index].disabled = true;
      }
   
   }
   
   });

   $("#employee_check_out_attributes_"+head_id+"__shift_id option").each(function( index,element  ) {
   
   shift_times_checkout = $(element).text();
   
   if(shift_times_checkout != 'Clear'){ 
   
    let momTime=moment(shift_times_checkout, 'HH:mm');
   
   finalshiftTime=momTime._i;
   
   let d1 = new Date();
   let curDay =moment(d1).format('YYYY/MM/DD');
   let currentTimeDate        = curDay +" "+curr_time;
   let currentFinalshiftTime  = currentSheduleDate +" "+finalshiftTime;
   
   console.log(currentTimeDate,"<<<<<<<<<<????<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>", currentFinalshiftTime );

   let elementId = "employee_check_out_attributes_"+head_id+"__shift_id";

    if( new Date(currentFinalshiftTime) < new Date( currentTimeDate ) )
     {
        //document.getElementById(elementId).options[index].disabled = true;
      }
   
   }


   
   
   });
  }
